body{
    background-color: #ffff;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #ffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(red, green, blue);
}

input[type="text"]{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
}

button{
    background-color:black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: green;
}